<!-- Popup -->
<div
    class="w-full h-full absolute top-0 left-0 backdrop-blur-md flex items-center justify-center"
    id="key_popup_modal"
>
    <div class="p-5 rounded-2xl bg-white max-w-96">
        <span
            class="material-symbols-rounded block! text-center! text-6xl! text-zinc-800"
        >
            key_off
        </span>
        <h2 class="text-center text-zinc-800 mb-5 text-xl font-semibold">
            Oops!
        </h2>
        <p class="text-justify text-sm text-zinc-600">
            It seems that you have not entered the encryption key. To continue,
            please enter the encryption key in the field below or
            <span
                id="generate-key"
                class="text-blue-400 cursor-pointer hover:underline"
                onclick="generateEncryptionKey()"
                >click here</span
            >
            to generate a key automatically.
        </p>
        <form
            action=""
            method="post"
            class="flex items-center justify-center mt-5 border border-zinc-200 rounded-2xl p-2.5 gap-2.5"
            name="key_popup_form"
            id="key_popup_form"
        >
            <span class="material-symbols-rounded"> key_vertical </span>
            <input
                type="text"
                placeholder="Enter encryption key here"
                class="outline-0 w-full text-zinc-600"
                id="key_field"
                name="key_field"
                required
            />
            <button
                type="submit"
                class="cursor-pointer text-blue-400 bg-none border-0 outline-0 hover:underline"
            >
                Submit
            </button>
        </form>
    </div>
</div>
