{% extends 'guest/base.html' %}

<!-- Title -->
{% block title %}Password Generator{% endblock %}

<!-- Section -->
{% block section %}
<section class="flex">
    <nav class="flex flex-col gap-2.5 w-80">
        <a
            href="#"
            class="flex items-center justify-start gap-2.5 py-2.5 text-blue-400 dark:text-blue-500 hover:text-blue-400"
            ><span class="material-symbols-rounded"> password </span>
            <span>Password Generator</span>
        </a>
        <a
            href="/pages/encryptor/text-encryptor"
            class="flex items-center justify-start gap-2.5 py-2.5 text-zinc-600 dark:text-zinc-300 hover:text-blue-400"
            ><span class="material-symbols-rounded"> lock </span>
            <span>Text Encryptor</span>
        </a>
        <a
            href="/pages/encryptor/text-decryptor"
            class="flex items-center justify-start gap-2.5 py-2.5 text-zinc-600 dark:text-zinc-300 hover:text-blue-400"
            ><span class="material-symbols-rounded"> lock_open_right </span>
            <span>Text Decryptor</span>
        </a>
    </nav>
    <section class="w-full h-auto flex flex-col gap-5 relative">
        <div
            class="w-full h-auto border border-zinc-200 dark:border-zinc-700 bg-white dark:bg-zinc-800 rounded-2xl"
        >
            <h2
                class="text-xl text-zinc-800 dark:text-zinc-200 font-semibold p-5 border-b border-zinc-200 dark:border-zinc-700"
            >
                Create a password
            </h2>
            <div>
                <form
                    action=""
                    method="post"
                    class="m-5"
                    name="password_generator_form"
                    id="password_generator_form"
                >
                    <label
                        for="password_length"
                        class="block mb-2.5 font-medium text-heading text-zinc-600 dark:text-zinc-300"
                        >How long do you want the password to be?</label
                    >
                    <div
                        class="relative flex items-center justify-center max-w-36 shadow-xs rounded-xl border border-zinc-200 dark:border-zinc-700 overflow-hidden"
                    >
                        <button
                            type="button"
                            class="px-3 h-10 cursor-pointer active:bg-zinc-100 active:dark:bg-zinc-600"
                        >
                            <span
                                class="material-symbols-rounded leading-10! text-xl! text-zinc-600 dark:text-zinc-300"
                                onclick="decreaseValue('password_length')"
                            >
                                remove
                            </span>
                        </button>
                        <input
                            type="number"
                            name="password_length"
                            id="password_length"
                            class="h-10 w-full py-2.5 text-center text-zinc-600 dark:text-zinc-300"
                            placeholder="0"
                            value="0"
                        />
                        <button
                            type="button"
                            class="px-3 h-10 cursor-pointer active:bg-zinc-100 active:dark:bg-zinc-600"
                        >
                            <span
                                class="material-symbols-rounded leading-10! text-xl! text-zinc-600 dark:text-zinc-300"
                                onclick="increaseValue('password_length')"
                            >
                                add
                            </span>
                        </button>
                    </div>
                    <p
                        id="helper-text-explanation"
                        class="mt-2.5 text-sm text-body shrink-0 text-zinc-400"
                    >
                        It is recommended to set the password length to 8
                        digits.
                    </p>
                    <div class="flex items-center my-4">
                        <input
                            id="encrypt_password"
                            name="encrypt_password"
                            type="checkbox"
                            value=""
                            class="w-4 h-4 text-blue-600 bg-zinc-100 border-zinc-300 rounded-sm focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-zinc-800 focus:ring-2 dark:bg-zinc-700 dark:border-zinc-600"
                        />
                        <label
                            for="encrypt_password"
                            class="ms-2 text-sm font-medium text-zinc-600 dark:text-zinc-300"
                            >Encrypt the password</label
                        >
                    </div>
                    <button
                        type="submit"
                        class="flex items-center justify-center gap-2.5 cursor-pointer text-white bg-linear-to-r from-cyan-500 to-blue-500 hover:bg-linear-to-bl focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 font-medium rounded-xl text-sm px-4 py-2.5 my-5 text-center leading-5"
                    >
                        <span class="material-symbols-rounded">
                            wand_stars
                        </span>
                        <span>Generate password</span>
                    </button>
                </form>
            </div>
        </div>
        <div
            class="w-full h-auto border border-zinc-200 dark:border-zinc-700 bg-white dark:bg-zinc-800 rounded-2xl"
        >
            <h2
                class="text-xl text-zinc-800 dark:text-zinc-200 font-semibold p-5 border-b border-zinc-200 dark:border-zinc-700"
            >
                Generated password
            </h2>
            <div class="m-5">
                <h3
                    class="block mb-2.5 font-medium text-heading text-zinc-600 dark:text-zinc-300"
                >
                    Generated password:
                </h3>
                <div
                    class="flex items-center bg-zinc-100 dark:bg-zinc-900 border border-zinc-200 dark:border-zinc-700 rounded-xl mb-2.5"
                >
                    <input
                        type="text"
                        readonly
                        class="w-full h-10 p-2.5 text-sm text-zinc-600 dark:text-zinc-300"
                        placeholder="Generated password will shown here"
                        id="generated_password"
                    />
                    <span
                        class="material-symbols-rounded text-lg! text-zinc-600 dark:text-zinc-300 mr-2.5 cursor-pointer"
                        onclick="copyText('generated_password')"
                    >
                        file_copy
                    </span>
                </div>
                <h3
                    class="block mb-2.5 font-medium text-heading text-zinc-600 dark:text-zinc-300"
                >
                    Encrypted password:
                </h3>
                <div
                    class="flex items-center bg-zinc-100 dark:bg-zinc-900 border border-zinc-200 dark:border-zinc-700 rounded-xl mb-2.5"
                >
                    <input
                        type="text"
                        readonly
                        class="w-full h-10 p-2.5 text-sm text-zinc-600 dark:text-zinc-300"
                        placeholder="Encrypted password will shown here"
                        id="encrypted_generated_password"
                    />
                    <span
                        class="material-symbols-rounded text-lg! text-zinc-600 dark:text-zinc-300 mr-2.5 cursor-pointer"
                        onclick="copyText('encrypted_generated_password')"
                    >
                        file_copy
                    </span>
                </div>
            </div>
        </div>
        {% include 'guest/key_popup.html' %}
    </section>
</section>
{% endblock %}

<!-- Script -->
{% block script %}
<script>
    const passwordGeneratorForm = document.getElementById(
        "password_generator_form",
    );

    const generatedPassword = document.getElementById("generated_password");
    const encryptedGeneratedPassword = document.getElementById(
        "encrypted_generated_password",
    );

    const password_generator_api = "/api/encryptor/password_generator";

    function generatePassword() {
        const encryptionKey = sessionStorage.getItem("encryption_key");
        let formData = new FormData(passwordGeneratorForm);
        formData.append("key", encryptionKey);

        if (passwordGeneratorForm.encrypt_password.checked) {
            formData.set("encrypt_password", 1);
        } else {
            formData.append("encrypt_password", 0);
        }

        formData = Object.fromEntries(formData.entries());

        fetch(password_generator_api, {
            method: "POST",
            headers: {
                "Content-Type": "application/json",
            },
            body: JSON.stringify(formData),
        })
            .then(async (response) => {
                const data = await response.json();
                if (!response.ok) {
                    throw new Error(
                        data.message ||
                            `Failed to fetch API: ${password_generator_api}`,
                    );
                }
                return data;
            })
            .then((data) => {
                const result = data.data;

                generatedPassword.value = result.password;
                encryptedGeneratedPassword.value = result.encrypted_password;

                showToast(data.message);
            })
            .catch((error) => {
                showToast(error);
                console.error(error);
            });
    }

    passwordGeneratorForm.addEventListener("submit", (event) => {
        event.preventDefault();
        generatePassword();
    });
</script>
{% endblock %}
