{% from "_macros.html" import sidebar_item %}
<nav class="flex flex-col gap-2.5 w-80">
    <!-- Password Generator -->
    {{ sidebar_item('Password Generator', 'password_2',
    url_for('pages.passwordGenerator'), active_page, 'passwordGenerator') }}

    <!-- Text Encryptor -->
    {{ sidebar_item('Text Encryptor', 'lock', url_for('pages.textEncryptor'),
    active_page, 'textEncryptor') }}

    <!-- Text Decryptor -->
    {{ sidebar_item('Text Decryptor', 'lock_open_right',
    url_for('pages.textDecryptor'), active_page, 'textDecryptor') }}
</nav>
