{% extends 'components/base.html' %}

<!-- Title -->
{% block title %}Key Manager{% endblock %}

<!-- Section -->
{% block section %}
<section class="main-section">
    <div
        class="bg-md-background md:rounded-4xl overflow-auto p-5 pt-0 md:pt-5 h-full"
    >
        <div class="flex justify-center">
            <div class="w-full max-w-2xl animate-showup">
                <!-- ========== Heading ========== -->
                <div
                    class="flex items-center justify-start gap-2.5 bg-md-background z-10"
                >
                    <h1
                        class="md-typescale-headline-small text-md-on-surface font-bold!"
                    >
                        Key Manager
                    </h1>
                </div>

                <!-- ========== Search bar ========== -->
                <search
                    class="w-full h-12 overflow-hidden rounded-full bg-md-surface-container-high mb-5 relative"
                    id="search-bar"
                >
                    <form action="" class="flex items-center">
                        <md-icon
                            class="text-md-on-surface-variant w-12 h-12 shrink-0"
                        >
                            search
                        </md-icon>
                        <input
                            type="search"
                            class="w-full h-12 outline-0 text-md-on-surface-variant text-lg"
                            placeholder="Search"
                        />
                        <button
                            type="reset"
                            class="w-12 h-12 shrink-0 cursor-pointer hidden"
                            id="clear-btn"
                            name="clear-btn"
                        >
                            <md-icon class="text-md-on-surface-variant">
                                close
                            </md-icon>
                        </button>
                    </form>
                    <md-ripple></md-ripple>
                </search>

                <!-- ========== Main ========== -->
                <div class="flex flex-col gap-8">
                    <div class="flex flex-col gap-1" id="data_list">
                        <md-circular-progress
                            class="block m-auto"
                            indeterminate
                        ></md-circular-progress>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

<!-- Modals -->
{% block modals %}

<!-- ========== Modal for new/add account ========== -->
<md-dialog id="new-key-modal">
    <div slot="headline">Add new key</div>

    <!-- Modal content -->
    <form slot="content" id="new_key" name="new_key" method="post">
        <div class="grid grid-cols-2 gap-4">
            <md-filled-text-field
                label="Key name"
                value=""
                name="key_name"
                id="key_name"
                class="col-span-2"
                type="text"
                maxlength="20"
                required
            >
            </md-filled-text-field>
            <md-filled-text-field
                label="Key"
                value=""
                name="the_key"
                id="the_key"
                class="col-span-2"
                type="text"
                required
            >
            </md-filled-text-field>
            <div class="col-span-2">
                <md-outlined-button type="button" name="generate_key">
                    Generate
                </md-outlined-button>
            </div>
        </div>
    </form>

    <!-- Modal action -->
    <div slot="actions">
        <md-text-button
            form="new_key"
            type="reset"
            onclick="closeNewKeyModal()"
        >
            Cancel
        </md-text-button>
        <md-filled-button
            form="new_key"
            id="add_btn"
            name="add_btn"
            type="submit"
            class="relative overflow-hidden"
        >
            Add
            <div class="button-progress-indicator hidden!">
                <md-circular-progress indeterminate></md-circular-progress>
            </div>
        </md-filled-button>
    </div>
</md-dialog>

<!-- ========== Modal for edit existing account ========== -->
<md-dialog id="edit-key-modal">
    <div slot="headline">Key info</div>

    <!-- Modal content -->
    <form
        slot="content"
        id="edit_key"
        name="edit_key"
        method="post"
        data-key-id=""
    >
        <div class="grid grid-cols-2 gap-4">
            <md-filled-text-field
                label="Key name"
                value=""
                name="edit_key_name"
                id="edit_key_name"
                class="col-span-2"
                type="text"
                maxlength="20"
                required
                readonly
            >
            </md-filled-text-field>
            <md-filled-text-field
                label="Key"
                value=""
                name="edit_the_key"
                id="edit_the_key"
                class="col-span-2"
                type="text"
                required
                readonly
            >
            </md-filled-text-field>
            <div class="col-span-2">
                <md-outlined-button type="button" name="generate_key" disabled>
                    Generate
                </md-outlined-button>
            </div>
        </div>
    </form>

    <!-- Modal option -->
    <div slot="actions" id="modal_option" class="">
        <md-text-button
            form="edit_key"
            type="button"
            name="delete_key"
            id="delete_key"
        >
            Delete
        </md-text-button>
        <div class="flex-1"></div>
        <md-text-button type="button" onclick="closeEditKeyModal()">
            Close
        </md-text-button>
        <md-text-button type="button" onclick="enableEditing()">
            Edit
        </md-text-button>
    </div>

    <!-- Modal action -->
    <div slot="actions" id="modal_action" class="hidden">
        <md-text-button
            form="edit_key"
            type="button"
            name="reset_info"
            id="reset_info"
        >
            Reset
        </md-text-button>
        <div class="flex-1"></div>
        <md-text-button
            form="edit_key"
            type="button"
            name="cancle_editing"
            id="cancle_editing"
        >
            Cancel
        </md-text-button>
        <md-filled-button
            form="edit_key"
            id="save_btn"
            name="save_btn"
            type="submit"
            class="relative overflow-hidden"
        >
            Save
            <div class="button-progress-indicator hidden!">
                <md-circular-progress indeterminate></md-circular-progress>
            </div>
        </md-filled-button>
    </div>
</md-dialog>

<!-- ========== Confirm delete dialog ========== -->
<md-dialog id="confirm-delete">
    <div slot="headline">Dialog headline</div>
    <md-icon slot="icon">delete_forever</md-icon>
    <form id="form" slot="content" method="dialog">Dialog content.</form>
    <div slot="actions">
        <md-text-button form="form" value="delete">Delete</md-text-button>
        <md-filled-tonal-button form="form" value="cancel" autofocus>
            Cancel
        </md-filled-tonal-button>
    </div>
</md-dialog>

<!-- ========== Progress Dialog ========== -->
<md-dialog id="progress-dialog">
    <div slot="headline"></div>
    <form
        slot="content"
        class="flex flex-col items-center justify-center"
        method="dialog"
    >
        <md-circular-progress indeterminate></md-circular-progress>
        Please wait
    </form>
    <div slot="actions"></div>
</md-dialog>
{% endblock %}

<!-- FABs -->
{% block fabs %}
<md-fab label="Add" variant="primary" onclick="openNewKeyModal()">
    <md-icon slot="icon">add</md-icon>
</md-fab>
{% endblock %}

<!-- Script -->
{% block script %}
<script src="{{ url_for('static', filename='scripts/pages/key_manager.js') }}"></script>
{% endblock %}
