{% extends 'components/base.html' %}

<!-- Title -->
{% block title %}Tools{% endblock %}

<!-- Section -->
{% block section %}
<section class="main-section">
    <div class="bg-md-background md:rounded-4xl overflow-auto p-5 h-full">
        <div class="flex justify-center animate-showup">
            <div class="w-full max-w-2xl">
                <!-- Tabs -->
                <md-tabs
                    class="sticky -top-5 z-10"
                    id="tools-tab"
                    aria-label="Content to display"
                >
                    <md-primary-tab
                        id="encryptor-tab"
                        aria-controls="encryptor-panel"
                        onclick="movePage('#text_encryptor')"
                    >
                        Encryptor
                    </md-primary-tab>
                    <md-primary-tab
                        id="decryptor-tab"
                        aria-controls="decryptor-panel"
                        onclick="movePage('#text_decryptor')"
                    >
                        Decryptor
                    </md-primary-tab>
                    <md-primary-tab
                        id="passgen-tab"
                        aria-controls="passgen-panel"
                        onclick="movePage('#password_generator')"
                    >
                        PassGen
                    </md-primary-tab>
                </md-tabs>

                <!-- Panels -->
                <div class="w-full relative overflow-hidden">
                    <div
                        id="slider"
                        class="flex w-full h-full transition-transform duration-300 ease-in-out"
                    >
                        <!-- Text Encryptor -->
                        <div
                            id="encryptor-panel"
                            role="tabpanel"
                            aria-labelledby="encryptor-tab"
                            class="w-full shrink-0 h-full"
                        >
                            <div
                                class="rounded-2xl overflow-hidden flex flex-col gap-1 mb-8"
                            >
                                <!-- title -->
                                <div
                                    class="p-5 bg-md-surface-container rounded-md"
                                >
                                    <h2
                                        class="md-typescale-title-medium text-md-on-surface font-bold! m-0"
                                    >
                                        Encrypt text
                                    </h2>
                                </div>

                                <!-- body -->
                                <div
                                    class="p-5 bg-md-surface-container rounded-md"
                                >
                                    <form
                                        action=""
                                        method="post"
                                        name="encryption-form"
                                        id="encryption-form"
                                        class="flex flex-col gap-5"
                                    >
                                        <md-filled-text-field
                                            type="textarea"
                                            placeholder="Enter the text you want to encrypt"
                                            rows="3"
                                            class="resize-y"
                                            name="unencrypted_text"
                                            id="unencrypted_text"
                                            required
                                        >
                                        </md-filled-text-field>
                                        <div>
                                            <md-filled-tonal-button
                                                type="submit"
                                            >
                                                Encrypt
                                                <md-icon slot="icon"
                                                    >lock</md-icon
                                                >
                                            </md-filled-tonal-button>
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <div
                                class="rounded-2xl overflow-hidden flex flex-col gap-1"
                            >
                                <!-- title -->
                                <div
                                    class="px-5 py-2.5 bg-md-surface-container rounded-md flex items-center justify-between"
                                >
                                    <h2
                                        class="md-typescale-title-medium text-md-on-surface font-bold! m-0"
                                    >
                                        Encrypted text
                                    </h2>
                                    <div class="flex items-center gap-2.5">
                                        <md-text-button
                                            onclick="
                                                copyText('encrypt-result', this)
                                            "
                                        >
                                            Copy
                                        </md-text-button>
                                        <md-filled-tonal-button
                                            onclick="openShareModal()"
                                        >
                                            Share
                                        </md-filled-tonal-button>
                                    </div>
                                </div>

                                <!-- body -->
                                <div
                                    class="p-5 bg-md-surface-container rounded-md"
                                >
                                    <md-filled-text-field
                                        type="textarea"
                                        placeholder="Encrypted text will shown here"
                                        rows="3"
                                        class="w-full resize-y"
                                        id="encrypt-result"
                                        name="encrypt-result"
                                        readonly
                                    >
                                    </md-filled-text-field>
                                </div>
                            </div>
                        </div>

                        <!-- Text Decryptor -->
                        <div
                            id="decryptor-panel"
                            role="tabpanel"
                            aria-labelledby="decryptor-tab"
                            class="w-full shrink-0 h-full"
                        >
                            <div
                                class="rounded-2xl overflow-hidden flex flex-col gap-1 mb-8"
                            >
                                <!-- title -->
                                <div
                                    class="p-5 bg-md-surface-container rounded-md"
                                >
                                    <h2
                                        class="md-typescale-title-medium text-md-on-surface font-bold! m-0"
                                    >
                                        Decrypt text
                                    </h2>
                                </div>

                                <!-- body -->
                                <div
                                    class="p-5 bg-md-surface-container rounded-md"
                                >
                                    <form
                                        action=""
                                        method="post"
                                        name="decryption-form"
                                        id="decryption-form"
                                        class="flex flex-col gap-5"
                                    >
                                        <md-filled-text-field
                                            type="textarea"
                                            placeholder="Enter the text you want to Decrypt"
                                            rows="3"
                                            class="resize-y"
                                            name="encrypted_text"
                                            id="encrypted_text"
                                            required
                                        >
                                        </md-filled-text-field>
                                        <div>
                                            <md-filled-tonal-button
                                                type="submit"
                                            >
                                                Decrypt
                                                <md-icon slot="icon"
                                                    >lock_open_right</md-icon
                                                >
                                            </md-filled-tonal-button>
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <div
                                class="rounded-2xl overflow-hidden flex flex-col gap-1"
                            >
                                <!-- title -->
                                <div
                                    class="px-5 py-2.5 bg-md-surface-container rounded-md flex items-center justify-between"
                                >
                                    <h2
                                        class="md-typescale-title-medium text-md-on-surface font-bold! m-0"
                                    >
                                        Decrypted text
                                    </h2>
                                    <md-text-button
                                        onclick="
                                            copyText('decrypt-result', this)
                                        "
                                    >
                                        Copy
                                    </md-text-button>
                                </div>

                                <!-- body -->
                                <div
                                    class="p-5 bg-md-surface-container rounded-md"
                                >
                                    <md-filled-text-field
                                        type="textarea"
                                        placeholder="Decrypted text will shown here"
                                        rows="3"
                                        class="w-full resize-y"
                                        id="decrypt-result"
                                        name="decrypt-result"
                                        readonly
                                    >
                                    </md-filled-text-field>
                                </div>
                            </div>
                        </div>

                        <!-- Password Generator -->
                        <div
                            id="passgen-panel"
                            role="tabpanel"
                            aria-labelledby="passgen-tab"
                            class="w-full shrink-0 h-full"
                        >
                            <div
                                class="rounded-2xl overflow-hidden flex flex-col gap-1 mb-8"
                            >
                                <!-- title -->
                                <div
                                    class="p-5 bg-md-surface-container rounded-md"
                                >
                                    <h2
                                        class="md-typescale-title-medium text-md-on-surface font-bold! m-0"
                                    >
                                        Create a password
                                    </h2>
                                </div>

                                <!-- body -->
                                <div
                                    class="p-5 bg-md-surface-container rounded-md"
                                >
                                    <form
                                        action=""
                                        method="post"
                                        name="password_generator_form"
                                        id="password_generator_form"
                                    >
                                        <p
                                            class="md-typescale-body-medium text-md-on-surface m-0"
                                        >
                                            How long do you want the password to
                                            be?
                                        </p>

                                        <div
                                            class="my-2.5 relative flex items-center justify-center max-w-36 shadow-xs rounded-3xl border border-md-outline-variant overflow-hidden"
                                        >
                                            <button
                                                type="button"
                                                class="relative px-3 h-10 cursor-pointer rounded-full"
                                                onclick="
                                                    decreaseValue(
                                                        'password_length',
                                                    )
                                                "
                                            >
                                                <span
                                                    class="material-symbols-rounded leading-10! text-xl! text-zinc-600 dark:text-zinc-300"
                                                >
                                                    remove
                                                </span>

                                                <md-ripple></md-ripple>
                                            </button>
                                            <input
                                                type="number"
                                                name="password_length"
                                                id="password_length"
                                                class="h-10 w-full py-2.5 text-center text-zinc-600 dark:text-zinc-300 text-base"
                                                placeholder="0"
                                                value="0"
                                                required=""
                                            />
                                            <button
                                                type="button"
                                                class="relative px-3 h-10 cursor-pointer rounded-full"
                                                onclick="
                                                    increaseValue(
                                                        'password_length',
                                                    )
                                                "
                                            >
                                                <span
                                                    class="material-symbols-rounded leading-10! text-xl! text-zinc-600 dark:text-zinc-300"
                                                >
                                                    add
                                                </span>

                                                <md-ripple></md-ripple>
                                            </button>
                                        </div>

                                        <p
                                            class="md-typescale-body-small text-md-outline m-0"
                                        >
                                            It is recommended to set the
                                            password length to 8 digits.
                                        </p>

                                        <div
                                            class="flex items-center justify-start gap-4 my-5"
                                        >
                                            <md-checkbox
                                                id="encrypt_password"
                                                touch-target="wrapper"
                                                class="m-0"
                                            ></md-checkbox>
                                            <label
                                                for="encrypt_password"
                                                class="md-typescale-body-medium text-md-on-surface m-0"
                                                >Encrypt the password</label
                                            >
                                        </div>

                                        <md-filled-tonal-button type="submit">
                                            Generate
                                            <md-icon slot="icon"
                                                >wand_stars</md-icon
                                            >
                                        </md-filled-tonal-button>
                                    </form>
                                </div>
                            </div>

                            <div
                                class="rounded-2xl overflow-hidden flex flex-col gap-1"
                            >
                                <!-- title -->
                                <div
                                    class="p-5 bg-md-surface-container rounded-md"
                                >
                                    <h2
                                        class="md-typescale-title-medium text-md-on-surface font-bold! m-0"
                                    >
                                        Generated password
                                    </h2>
                                </div>

                                <!-- body -->
                                <div
                                    class="p-5 bg-md-surface-container rounded-md"
                                >
                                    <!-- Generated password -->
                                    <div
                                        class="flex items-center justify-between"
                                    >
                                        <p
                                            class="md-typescale-body-medium text-md-on-surface m-0"
                                        >
                                            Generated Password:
                                        </p>
                                        <md-text-button
                                            onclick="
                                                copyText(
                                                    'generated_password',
                                                    this,
                                                )
                                            "
                                        >
                                            Copy
                                        </md-text-button>
                                    </div>

                                    <div
                                        class="bg-md-background border border-md-outline rounded-3xl overflow-hidden p-2.5 mt-2.5 mb-5 min-h-10"
                                    >
                                        <span
                                            class="md-typescale-body-medium text-md-on-surface m-0 wrap-break-word"
                                            id="generated_password"
                                        >
                                        </span>
                                    </div>

                                    <!-- Encrypted generated password -->
                                    <div
                                        class="flex items-center justify-between"
                                    >
                                        <p
                                            class="md-typescale-body-medium text-md-on-surface m-0"
                                        >
                                            Encrypted password:
                                        </p>
                                        <md-text-button
                                            onclick="
                                                copyText(
                                                    'encrypted_generated_password',
                                                    this,
                                                )
                                            "
                                        >
                                            Copy
                                        </md-text-button>
                                    </div>

                                    <div
                                        class="bg-md-background border border-md-outline rounded-3xl overflow-hidden p-2.5 mt-2.5 mb-5 min-h-10"
                                    >
                                        <span
                                            class="md-typescale-body-medium text-md-on-surface m-0 wrap-break-word"
                                            id="encrypted_generated_password"
                                        >
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

<!-- Modals -->
{% block modals %}
<!-- Modal for sharing text -->
<md-dialog id="share-modal">
    <div slot="headline">
        <div class="flex flex-col gap-1 flex-1">
            <span>Share</span>
            <span class="md-typescale-body-medium">
                Share encrypted text with others securely.
            </span>
        </div>
        <md-icon-button
            onclick="closeShareModal()"
            value="close"
            aria-label="Close dialog"
        >
            <md-icon>close</md-icon>
        </md-icon-button>
    </div>

    <!-- Modal content -->
    <form slot="content" id="share_form" name="share_form" method="post">
        <div class="grid grid-cols-2 gap-4">
            <md-filled-text-field
                label="Text to share"
                value=""
                name="text_to_share"
                id="text_to_share"
                class="col-span-2 resize-y"
                type="textarea"
                rows="3"
            >
            </md-filled-text-field>

            <div class="col-span-2">
                <md-filled-tonal-button type="button" id="regenerate_btn">
                    Generate
                    <md-icon slot="icon">link_2</md-icon>
                </md-filled-tonal-button>
            </div>

            <div class="col-span-2">
                <div class="flex items-center justify-between">
                    <p class="md-typescale-body-medium text-md-on-surface m-0">
                        Generated link:
                    </p>
                    <md-text-button
                        type="button"
                        onclick="copyText('generated_link', this)"
                    >
                        Copy
                    </md-text-button>
                </div>
            </div>
            <md-outlined-text-field
                class="col-span-2"
                id="generated_link"
                readonly
            ></md-outlined-text-field>

            <div
                class="p-4 rounded-xl bg-md-tertiary-container flex gap-3 items-start col-span-2 hidden"
                id="link-span"
            >
                <span
                    class="material-symbols-rounded text-md-on-tertiary-container"
                >
                    info
                </span>
                <span
                    class="md-typescale-body-small text-md-on-tertiary-container mt-1"
                >
                </span>
            </div>
        </div>
    </form>
</md-dialog>
{% endblock %}

<!-- Script -->
{% block script %}
<script>
    // Tabs switcher
    const toolsTab = document.getElementById("tools-tab");
    const tabPanel = document.querySelectorAll("[role='tabpanel']");
    const slider = document.querySelector("#slider");

    function tabSwitcher(tabIndex) {
        slider.style.transform = `translateX(-${tabIndex * 100}%)`;
    }

    // Switch tab based url #hash (only run once)
    function unActiveTab() {
        toolsTab.tabs.forEach((tab) => {
            tab.active = false;
        });
    }

    document.body.onload = () => {
        switch (location.hash) {
            case "#text_encryptor":
                tabSwitcher(0);
                unActiveTab();
                toolsTab.tabs[0].active = true;

                break;

            case "#text_decryptor":
                tabSwitcher(1);
                unActiveTab();
                toolsTab.tabs[1].active = true;

                break;

            case "#password_generator":
                tabSwitcher(2);
                unActiveTab();
                toolsTab.tabs[2].active = true;

                break;

            default:
                break;
        }
    };

    toolsTab.addEventListener("change", (event) => {
        tabSwitcher(event.target.activeTabIndex);
    });

    // Text Encryption
    const encryptionForm = document.getElementById("encryption-form");
    const encryptResult = document.getElementById("encrypt-result");
    const encrypt_api = "/api/encryptor/encrypt_text";

    async function encryptText() {
        let encryptionKey = sessionStorage.getItem("encryption_key");
        encryptionKey = JSON.parse(encryptionKey);

        if (encryptionKey) {
            let formData = new FormData(encryptionForm);
            formData.append("key", encryptionKey.key);
            formData = Object.fromEntries(formData.entries());

            // send request
            try {
                const result = await sendRequest(encrypt_api, formData, "POST");

                encryptResult.value = result.data.encrypted_text;

                showSnackbar(result.message);
            } catch (error) {
                showAlert("Unable to encrypt", error.message);
            }
        } else {
            // Trigger encryption key modal
            checkEncryptionKey();
        }
    }

    encryptionForm.addEventListener("submit", (event) => {
        event.preventDefault();
        encryptText();
    });

    // Share option
    const shareModal = document.getElementById("share-modal");
    const shareForm = document.getElementById("share_form");
    const outputLink = document.getElementById("generated_link");
    const regenerateBtn = document.getElementById("regenerate_btn");
    const linkSpan = document.getElementById("link-span");

    const generateLinkAPI = "/api/encryptor/generate_link";

    // Generate link
    async function generate_link(textToShare, targetElm, noticeBanner) {
        data = { text_to_share: textToShare };
        try {
            // Get generated link
            const result = await sendRequest(generateLinkAPI, data, "POST");

            if (targetElm.value !== undefined) {
                targetElm.value = result.data.link;
            } else {
                targetElm.textContent = result.data.link;
            }

            // Link span
            const currentTime = new Date();
            currentTime.setMinutes(currentTime.getMinutes() + 5);

            let hour = currentTime.getHours();
            let minute = currentTime.getMinutes();

            hour = hour < 10 ? "0" + hour : hour;
            minute = minute < 10 ? "0" + minute : minute;

            let bannerText = `The link is valid until ${hour}.${minute}`;

            noticeBanner.classList.remove("hidden");
            noticeBanner.querySelector("span:nth-child(2)").textContent =
                bannerText;

            showSnackbar(result.message);
        } catch (error) {
            showAlert("Unable to generate link", error.message);
        }
    }

    // Open share modal
    async function openShareModal() {
        shareForm.text_to_share.value = encryptionForm.unencrypted_text.value;
        // generate_link(shareForm.text_to_share.value, outputLink, linkSpan);

        await shareModal.show();
    }

    // Close share modal
    async function closeShareModal() {
        shareForm.reset();
        linkSpan.classList.add("hidden");

        await shareModal.close();
    }

    // Re-generate link button
    regenerateBtn.addEventListener("click", () => {
        generate_link(shareForm.text_to_share.value, outputLink, linkSpan);
    });

    // Text Decryption
    const decryptionForm = document.getElementById("decryption-form");
    const decryptResult = document.getElementById("decrypt-result");
    const decrypt_api = "/api/encryptor/decrypt_text";

    async function decryptText() {
        let encryptionKey = sessionStorage.getItem("encryption_key");
        encryptionKey = JSON.parse(encryptionKey);

        if (encryptionKey) {
            let formData = new FormData(decryptionForm);
            formData.append("key", encryptionKey.key);
            formData = Object.fromEntries(formData.entries());

            // send request
            try {
                const result = await sendRequest(decrypt_api, formData, "POST");

                decryptResult.value = result.data.decrypted_text;

                showSnackbar(result.message);
            } catch (error) {
                showAlert("Unable to decrypt", error.message);
            }
        } else {
            // Trigger encryption key modal
            checkEncryptionKey();
        }
    }

    decryptionForm.addEventListener("submit", (event) => {
        event.preventDefault();
        decryptText();
    });

    // Password Generator
    const passwordGeneratorForm = document.getElementById(
        "password_generator_form",
    );

    const generatedPassword = document.getElementById("generated_password");
    const encryptedGeneratedPassword = document.getElementById(
        "encrypted_generated_password",
    );

    const password_generator_api = "/api/encryptor/password_generator";

    async function generatePassword() {
        let encryptionKey = sessionStorage.getItem("encryption_key");
        encryptionKey = JSON.parse(encryptionKey);

        if (encryptionKey) {
            let formData = new FormData(passwordGeneratorForm);
            formData.append("key", encryptionKey.key);

            if (passwordGeneratorForm.encrypt_password.checked) {
                formData.set("encrypt_password", 1);
            } else {
                formData.append("encrypt_password", 0);
            }

            formData = Object.fromEntries(formData.entries());

            // send request
            try {
                const result = await sendRequest(
                    password_generator_api,
                    formData,
                    "POST",
                );

                generatedPassword.textContent = result.data.password;
                encryptedGeneratedPassword.textContent =
                    result.data.encrypted_password;

                showSnackbar(result.message);
            } catch (error) {
                showAlert("Unable to generate password", error.message);
            }
        } else {
            // Trigger encryption key modal
            checkEncryptionKey();
        }
    }

    passwordGeneratorForm.addEventListener("submit", (event) => {
        event.preventDefault();
        generatePassword();
    });
</script>
{% endblock %}
