{% extends 'components/base.html' %}

<!-- Title -->
{% block title %}Tools{% endblock %}

<!-- Section -->
{% block section %}
<section class="main-section">
    <div
        class="bg-md-background md:rounded-4xl overflow-auto px-0 md:px-5 pt-0 md:pt-5 pb-5 h-full"
    >
        <div class="flex justify-center animate-showup">
            <div class="w-full max-w-7xl">
                <!-- Tabs -->
                <md-tabs
                    class="sticky top-0 md:-top-5 z-10"
                    id="tools-tab"
                    aria-label="Content to display"
                >
                    <md-primary-tab
                        id="encryptor-tab"
                        aria-controls="encryptor-panel"
                        onclick="movePage('#encryptor')"
                    >
                        Encryptor
                    </md-primary-tab>
                    <md-primary-tab
                        id="passgen-tab"
                        aria-controls="passgen-panel"
                        onclick="movePage('#password_generator')"
                    >
                        PassGen
                    </md-primary-tab>
                    <md-primary-tab>Converter</md-primary-tab>
                    <md-primary-tab>Steganography</md-primary-tab>
                </md-tabs>

                <!-- Panels -->
                <div class="w-full relative overflow-hidden mt-5">
                    <div
                        id="slider"
                        class="flex w-full h-full transition-transform duration-300 ease-in-out"
                    >
                        <!-- Encryptor -->
                        <div
                            id="encryptor-panel"
                            role="tabpanel"
                            aria-labelledby="encryptor-tab"
                            class="w-full shrink-0 h-full"
                        >
                            <md-tabs class="mb-5" id="encryptor-tab-switcher">
                                <md-secondary-tab>
                                    Text Encryptor
                                </md-secondary-tab>
                                <md-secondary-tab>
                                    File Encryptor
                                </md-secondary-tab>
                            </md-tabs>

                            <div class="w-full relative overflow-hidden">
                                <div
                                    id="encryptor-slider"
                                    class="flex w-full h-full transition-transform duration-300 ease-in-out"
                                >
                                    <!-- Text encryptor -->
                                    <div
                                        class="px-5 md:px-0 w-full shrink-0 h-full"
                                    >
                                        <div
                                            class="flex items-center justify-between h-12"
                                        >
                                            <span
                                                class="md-typescale-title-small text-md-on-surface w-full pl-0 sm:pl-2 text-center sm:text-left"
                                                id="encryptor-from-label"
                                            >
                                                Plain text
                                            </span>
                                            <md-icon-button
                                                title="Switch"
                                                class="shrink-0"
                                                id="encryptor-switch-btn"
                                                onclick="
                                                    switchEncryptionState()
                                                "
                                            >
                                                <md-icon>swap_horiz</md-icon>
                                            </md-icon-button>
                                            <span
                                                class="md-typescale-title-small text-md-on-surface w-full pl-0 sm:pl-2 text-center sm:text-left"
                                                id="encryptor-to-label"
                                            >
                                                Encrypted text
                                            </span>
                                        </div>
                                        <div class="grid grid-cols-2 gap-2">
                                            <div
                                                class="rounded-xl border border-md-outline-variant overflow-hidden flex flex-col gap-1 col-span-2 sm:col-span-1"
                                            >
                                                <div
                                                    class="h-full min-h-40 flex flex-col"
                                                >
                                                    <form
                                                        action=""
                                                        method="post"
                                                        name="encryption-form"
                                                        id="encryption-form"
                                                        class="flex h-full"
                                                    >
                                                        <textarea
                                                            type="textarea"
                                                            class="default-textarea text-base sm:text-xl pr-0!"
                                                            name="encryptor_input_text"
                                                            id="encryptor_input_text"
                                                            required
                                                        ></textarea>
                                                        <md-icon-button
                                                            type="reset"
                                                            name="encryptor_reset_input"
                                                            id="encryptor_reset_input"
                                                            class="shrink-0 m-2 hidden!"
                                                        >
                                                            <md-icon
                                                                >close</md-icon
                                                            >
                                                        </md-icon-button>
                                                    </form>
                                                    <div
                                                        class="flex items-center gap-2 justify-end m-2.5"
                                                    >
                                                        <md-filled-tonal-button
                                                            onclick="
                                                                openShareModal()
                                                            "
                                                        >
                                                            Share
                                                            <md-icon
                                                                slot="icon"
                                                            >
                                                                share
                                                            </md-icon>
                                                        </md-filled-tonal-button>
                                                    </div>
                                                </div>
                                            </div>

                                            <div
                                                class="rounded-2xl overflow-hidden h-full col-span-2 sm:col-span-1"
                                            >
                                                <div
                                                    class="bg-md-surface-container rounded-xl flex flex-col h-full min-h-40"
                                                >
                                                    <textarea
                                                        type="textarea"
                                                        placeholder="Encrypted text will shown here"
                                                        class="w-full h-full default-textarea resize-none text-base sm:text-xl"
                                                        id="encryptor-result"
                                                        name="encryptor-result"
                                                        readonly
                                                    ></textarea>
                                                    <div
                                                        class="flex items-center gap-2 justify-end m-2.5"
                                                    >
                                                        <md-icon-button
                                                            slot="trailing-icon"
                                                            id="encryptor-copy-btn"
                                                            class="hidden!"
                                                            onclick="
                                                                copyTextIconBtn(
                                                                    'encryptor-result',
                                                                    this,
                                                                    event,
                                                                )
                                                            "
                                                        >
                                                            <md-icon>
                                                                content_copy
                                                            </md-icon>
                                                        </md-icon-button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Password Generator -->
                        <div
                            id="passgen-panel"
                            role="tabpanel"
                            aria-labelledby="passgen-tab"
                            class="w-full shrink-0 h-full"
                        >
                            <div class="px-5 md:px-0 grid grid-cols-2 gap-3">
                                <div
                                    class="rounded-2xl overflow-hidden flex flex-col gap-1 col-span-2 sm:col-span-1"
                                >
                                    <!-- title -->
                                    <div
                                        class="p-5 bg-md-surface-container rounded-md"
                                    >
                                        <h2
                                            class="md-typescale-title-medium text-md-on-surface font-bold! m-0"
                                        >
                                            Create a password
                                        </h2>
                                    </div>

                                    <!-- body -->
                                    <div
                                        class="p-5 bg-md-surface-container rounded-md h-full"
                                    >
                                        <form
                                            action=""
                                            method="post"
                                            name="password_generator_form"
                                            id="password_generator_form"
                                        >
                                            <p
                                                class="md-typescale-body-medium text-md-on-surface m-0"
                                            >
                                                How long do you want the
                                                password to be?
                                            </p>

                                            <div
                                                class="my-2.5 relative flex items-center justify-center max-w-36 shadow-xs rounded-3xl border border-md-outline-variant overflow-hidden"
                                            >
                                                <button
                                                    type="button"
                                                    class="relative px-3 h-10 cursor-pointer rounded-full"
                                                    onclick="
                                                        decreaseValue(
                                                            'password_length',
                                                        )
                                                    "
                                                >
                                                    <span
                                                        class="material-symbols-rounded leading-10! text-xl! text-zinc-600 dark:text-zinc-300"
                                                    >
                                                        remove
                                                    </span>

                                                    <md-ripple></md-ripple>
                                                </button>
                                                <input
                                                    type="number"
                                                    name="password_length"
                                                    id="password_length"
                                                    class="h-10 w-full py-2.5 text-center text-zinc-600 dark:text-zinc-300 text-base"
                                                    placeholder="0"
                                                    value="0"
                                                    required=""
                                                />
                                                <button
                                                    type="button"
                                                    class="relative px-3 h-10 cursor-pointer rounded-full"
                                                    onclick="
                                                        increaseValue(
                                                            'password_length',
                                                        )
                                                    "
                                                >
                                                    <span
                                                        class="material-symbols-rounded leading-10! text-xl! text-zinc-600 dark:text-zinc-300"
                                                    >
                                                        add
                                                    </span>

                                                    <md-ripple></md-ripple>
                                                </button>
                                            </div>

                                            <p
                                                class="md-typescale-body-small text-md-outline m-0"
                                            >
                                                It is recommended to set the
                                                password length to 8 digits.
                                            </p>

                                            <div
                                                class="flex items-center justify-start gap-4 my-5"
                                            >
                                                <md-checkbox
                                                    id="encrypt_password"
                                                    touch-target="wrapper"
                                                    class="m-0"
                                                ></md-checkbox>
                                                <label
                                                    for="encrypt_password"
                                                    class="md-typescale-body-medium text-md-on-surface m-0"
                                                >
                                                    Encrypt the password
                                                </label>
                                            </div>

                                            <md-filled-tonal-button
                                                type="submit"
                                            >
                                                Generate
                                                <md-icon slot="icon">
                                                    wand_stars
                                                </md-icon>
                                            </md-filled-tonal-button>
                                        </form>
                                    </div>
                                </div>

                                <div
                                    class="rounded-2xl overflow-hidden flex flex-col gap-1 col-span-2 sm:col-span-1"
                                >
                                    <!-- title -->
                                    <div
                                        class="p-5 bg-md-surface-container rounded-md"
                                    >
                                        <h2
                                            class="md-typescale-title-medium text-md-on-surface font-bold! m-0"
                                        >
                                            Generated password
                                        </h2>
                                    </div>

                                    <!-- body -->
                                    <div
                                        class="p-5 bg-md-surface-container rounded-md h-full"
                                    >
                                        <!-- Generated password -->
                                        <div
                                            class="flex items-center justify-between"
                                        >
                                            <p
                                                class="md-typescale-body-medium text-md-on-surface m-0"
                                            >
                                                Generated Password:
                                            </p>
                                            <md-text-button
                                                onclick="
                                                    copyText(
                                                        'generated_password',
                                                        this,
                                                    )
                                                "
                                            >
                                                Copy
                                            </md-text-button>
                                        </div>

                                        <div
                                            class="bg-md-background border border-md-outline rounded-3xl overflow-hidden p-2.5 mt-2.5 mb-5 min-h-10"
                                        >
                                            <span
                                                class="md-typescale-body-medium text-md-on-surface m-0 wrap-break-word"
                                                id="generated_password"
                                            >
                                            </span>
                                        </div>

                                        <!-- Encrypted generated password -->
                                        <div
                                            class="flex items-center justify-between"
                                        >
                                            <p
                                                class="md-typescale-body-medium text-md-on-surface m-0"
                                            >
                                                Encrypted password:
                                            </p>
                                            <md-text-button
                                                onclick="
                                                    copyText(
                                                        'encrypted_generated_password',
                                                        this,
                                                    )
                                                "
                                            >
                                                Copy
                                            </md-text-button>
                                        </div>

                                        <div
                                            class="bg-md-background border border-md-outline rounded-3xl overflow-hidden p-2.5 mt-2.5 mb-5 min-h-10"
                                        >
                                            <span
                                                class="md-typescale-body-medium text-md-on-surface m-0 wrap-break-word"
                                                id="encrypted_generated_password"
                                            >
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

<!-- Modals -->
{% block modals %}
<!-- Modal for sharing text -->
<md-dialog id="share-modal">
    <div slot="headline">
        <div class="flex flex-col gap-1 flex-1">
            <span>Share</span>
            <span class="md-typescale-body-medium">
                Share encrypted text with others securely.
            </span>
        </div>
        <md-icon-button
            onclick="closeShareModal()"
            value="close"
            aria-label="Close dialog"
        >
            <md-icon>close</md-icon>
        </md-icon-button>
    </div>

    <!-- Modal content -->
    <form slot="content" id="share_form" name="share_form" method="post">
        <div class="grid grid-cols-2 gap-4">
            <md-filled-text-field
                label="Text to share"
                value=""
                name="text_to_share"
                id="text_to_share"
                class="col-span-2 resize-y"
                type="textarea"
                rows="3"
            >
            </md-filled-text-field>

            <div class="col-span-2">
                <md-filled-tonal-button type="button" id="regenerate_btn">
                    Generate
                    <md-icon slot="icon">link_2</md-icon>
                </md-filled-tonal-button>
            </div>

            <div class="col-span-2">
                <div class="flex items-center justify-between">
                    <p class="md-typescale-body-medium text-md-on-surface m-0">
                        Generated link:
                    </p>
                    <md-text-button
                        type="button"
                        onclick="copyText('generated_link', this)"
                    >
                        Copy
                    </md-text-button>
                </div>
            </div>
            <md-outlined-text-field
                class="col-span-2"
                id="generated_link"
                readonly
            ></md-outlined-text-field>

            <div
                class="p-4 rounded-xl bg-md-tertiary-container flex gap-3 items-start col-span-2 hidden"
                id="link-span"
            >
                <span
                    class="material-symbols-rounded material-icon-fill text-md-on-tertiary-container"
                >
                    info
                </span>
                <span
                    class="md-typescale-body-small text-md-on-tertiary-container mt-1"
                >
                </span>
            </div>
        </div>
    </form>
</md-dialog>
{% endblock %}

<!-- Script -->
{% block script %}
<script>
    // Tabs switcher
    const toolsTab = document.getElementById("tools-tab");
    const slider = document.querySelector("#slider");

    function tabSwitcher(tabIndex) {
        slider.style.transform = `translateX(-${tabIndex * 100}%)`;
    }

    // Switch tab based url #hash (only run once)
    function unActiveTab() {
        toolsTab.tabs.forEach((tab) => {
            tab.active = false;
        });
    }

    document.body.onload = () => {
        switch (location.hash) {
            case "#encryptor":
                tabSwitcher(0);
                unActiveTab();
                toolsTab.tabs[0].active = true;

                break;

            case "#password_generator":
                tabSwitcher(1);
                unActiveTab();
                toolsTab.tabs[1].active = true;

                break;

            default:
                break;
        }
    };

    toolsTab.addEventListener("change", (event) => {
        tabSwitcher(event.target.activeTabIndex);
    });

    // Text Encryption
    let currentState = "encryption";
    const encryptorFromLabel = document.getElementById("encryptor-from-label");
    const encryptorToLabel = document.getElementById("encryptor-to-label");
    const encryptorSwitchBtn = document.getElementById("encryptor-switch-btn");

    // Input form
    const encryptionForm = document.getElementById("encryption-form");
    const encryptorTextInput = encryptionForm.encryptor_input_text;
    const encryptorResetInput = encryptionForm.encryptor_reset_input;

    // Result form
    const encryptResult = document.getElementById("encryptor-result");
    const encryptorCopyBtn = document.getElementById("encryptor-copy-btn");
    let encryptor_api = "/api/encryptor/encrypt_text";

    // Encryptor tab switcher
    const encryptorTab = document.getElementById("encryptor-tab-switcher");
    const encryptorSlider = document.querySelector("#encryptor-slider");

    function encryptorTabSwitcher(tabIndex) {
        encryptorSlider.style.transform = `translateX(-${tabIndex * 100}%)`;
    }

    encryptorTab.addEventListener("change", (event) => {
        encryptorTabSwitcher(event.target.activeTabIndex);
    });

    // Switch encryption state
    function switchEncryptionState() {
        // Disable the switch button
        encryptorSwitchBtn.disabled = true;

        // Change the state
        if (currentState === "encryption") {
            currentState = "decryption";
            encryptor_api = "/api/encryptor/decrypt_text";

            encryptorFromLabel.textContent = "Encrypted text";
            encryptorToLabel.textContent = "Plain text";
            encryptResult.placeholder = "Decrypted text will shown here";

            encryptorTextInput.value = encryptResult.value;
        } else {
            currentState = "encryption";
            encryptor_api = "/api/encryptor/encrypt_text";

            encryptorFromLabel.textContent = "Plain text";
            encryptorToLabel.textContent = "Encrypted text";
            encryptResult.placeholder = "Encrypted text will shown here";

            encryptorTextInput.value = encryptResult.value;
        }

        // Readjust the encryptorTextInput
        adjustFontSize(encryptorTextInput);
        autoResizeTextarea(encryptorTextInput);

        // reprocess the encryption
        proceedEncryption();

        // Wait for a while to re-enable the switch button
        setTimeout(() => {
            encryptorSwitchBtn.disabled = false;
        }, 500);
    }

    // Encrypt function
    async function proceedEncryption() {
        if (encryptorTextInput.value.trim()) {
            encryptorResetInput.classList.remove("hidden!");
            encryptorCopyBtn.classList.remove("hidden!");
        } else {
            encryptResult.value = "";
            encryptorResetInput.classList.add("hidden!");
            encryptorCopyBtn.classList.add("hidden!");
            return;
        }

        let encryptionKey = sessionStorage.getItem("encryption_key");
        encryptionKey = JSON.parse(encryptionKey);

        if (encryptionKey) {
            let formData = new FormData(encryptionForm);
            formData.append("key", encryptionKey.key);
            formData = Object.fromEntries(formData.entries());

            // send request
            try {
                const result = await sendRequest(
                    encryptor_api,
                    formData,
                    "POST",
                );
                if (result.code === 200) {
                    encryptResult.value = result.data.result_text;
                    adjustFontSize(encryptResult);
                    autoResizeTextarea(encryptResult);
                }
            } catch (error) {
                encryptResult.value = error.message;
            }
        } else {
            // Trigger encryption key modal
            checkEncryptionKey();
        }
    }

    // Reset input state
    function encryptorResetInputState() {
        resetTextarea(encryptorTextInput);
        resetTextarea(encryptResult);

        encryptorResetInput.classList.add("hidden!");
        proceedEncryption();
    }

    if (encryptorTextInput) {
        const debouncedState = debounce(proceedEncryption, 300);
        encryptorTextInput.addEventListener("input", debouncedState);

        encryptorTextInput.addEventListener("input", (e) => {
            adjustFontSize(e.target);
            autoResizeTextarea(e.target);
        });

        // Run once on load in case there is pre-filled text
        adjustFontSize(encryptorTextInput);
        autoResizeTextarea(encryptorTextInput);

        adjustFontSize(encryptResult);
        autoResizeTextarea(encryptResult);
    }

    encryptorResetInput.addEventListener("click", encryptorResetInputState);

    // Share option
    const shareModal = document.getElementById("share-modal");
    const shareForm = document.getElementById("share_form");
    const outputLink = document.getElementById("generated_link");
    const regenerateBtn = document.getElementById("regenerate_btn");
    const linkSpan = document.getElementById("link-span");

    const generateLinkAPI = "/api/encryptor/generate_link";

    // Generate link
    async function generate_link(textToShare, targetElm, noticeBanner) {
        data = { text_to_share: textToShare };
        try {
            // Get generated link
            const result = await sendRequest(generateLinkAPI, data, "POST");

            if (targetElm.value !== undefined) {
                targetElm.value = result.data.link;
            } else {
                targetElm.textContent = result.data.link;
            }

            // Link span
            const currentTime = new Date();
            currentTime.setMinutes(currentTime.getMinutes() + 5);

            let hour = currentTime.getHours();
            let minute = currentTime.getMinutes();

            hour = hour < 10 ? "0" + hour : hour;
            minute = minute < 10 ? "0" + minute : minute;

            let bannerText = `The link is valid until ${hour}:${minute}`;

            noticeBanner.classList.remove("hidden");
            noticeBanner.querySelector("span:nth-child(2)").textContent =
                bannerText;

            showSnackbar(result.message);
        } catch (error) {
            showAlert("Unable to generate link", error.message);
        }
    }

    // Open share modal
    async function openShareModal() {
        // Reset everything first
        shareForm.reset();
        linkSpan.classList.add("hidden");
        hideSupportText(shareForm.text_to_share);

        shareForm.text_to_share.value =
            encryptionForm.encryptor_input_text.value;
        await shareModal.show();
    }

    // Close share modal
    async function closeShareModal() {
        await shareModal.close();
    }

    // Generate link button
    regenerateBtn.addEventListener("click", () => {
        hideSupportText(shareForm.text_to_share);

        if (shareForm.text_to_share.value.trim() !== "") {
            generate_link(shareForm.text_to_share.value, outputLink, linkSpan);
        } else {
            showSupportText(
                shareForm.text_to_share,
                "Enter the text you want to share.",
            );
        }
    });

    // Password Generator
    const passwordGeneratorForm = document.getElementById(
        "password_generator_form",
    );

    const generatedPassword = document.getElementById("generated_password");
    const encryptedGeneratedPassword = document.getElementById(
        "encrypted_generated_password",
    );

    const password_generator_api = "/api/encryptor/password_generator";

    async function generatePassword() {
        let encryptionKey = sessionStorage.getItem("encryption_key");
        encryptionKey = JSON.parse(encryptionKey);

        if (encryptionKey) {
            let formData = new FormData(passwordGeneratorForm);
            formData.append("key", encryptionKey.key);

            if (passwordGeneratorForm.encrypt_password.checked) {
                formData.set("encrypt_password", 1);
            } else {
                formData.append("encrypt_password", 0);
            }

            formData = Object.fromEntries(formData.entries());

            // send request
            try {
                const result = await sendRequest(
                    password_generator_api,
                    formData,
                    "POST",
                );

                generatedPassword.textContent = result.data.password;
                encryptedGeneratedPassword.textContent =
                    result.data.encrypted_password;

                showSnackbar(result.message);
            } catch (error) {
                showAlert("Unable to generate password", error.message);
            }
        } else {
            // Trigger encryption key modal
            checkEncryptionKey();
        }
    }

    passwordGeneratorForm.addEventListener("submit", (event) => {
        event.preventDefault();
        generatePassword();
    });
</script>
{% endblock %}
