{% extends 'base.html' %}

<!-- Title -->
{% block title %}Dashboard{% endblock %}

<!-- Section -->
{% block section %}
<section class="flex">
    <!-- Sidebar -->
    {% include 'sidebar.html' %}

    <!-- Content -->
    <section class="w-full h-auto flex flex-col gap-5 relative">
        <div
            class="w-full h-auto border border-zinc-200 dark:border-zinc-700 bg-white dark:bg-zinc-800 rounded-2xl"
        >
            <h2
                class="text-lg text-zinc-800 dark:text-zinc-200 font-semibold p-5 border-b border-zinc-200 dark:border-zinc-700"
            >
                Personal Information
            </h2>
            <div class="px-5 py-6">
                <div class="mb-5 flex items-center justify-between">
                    <div>
                        <p class="text-zinc-500 dark:text-zinc-400">Name</p>
                        <p class="text-zinc-800 dark:text-zinc-200">
                            {{ name }}
                        </p>
                    </div>
                    <button
                        class="text-blue-600 dark:text-blue-500 hover:underline cursor-pointer text-sm"
                    >
                        Change name
                    </button>
                </div>
                <div class="flex items-center justify-between">
                    <div>
                        <p class="text-zinc-500 dark:text-zinc-400">Username</p>
                        <p class="text-zinc-800 dark:text-zinc-200">
                            {{ username }}
                        </p>
                    </div>
                    <button
                        class="text-blue-600 dark:text-blue-500 hover:underline cursor-pointer text-sm"
                    >
                        Change username
                    </button>
                </div>
            </div>
        </div>
        <div
            class="w-full h-auto border border-zinc-200 dark:border-zinc-700 bg-white dark:bg-zinc-800 rounded-2xl"
        >
            <h2
                class="text-lg text-zinc-800 dark:text-zinc-200 font-semibold p-5 border-b border-zinc-200 dark:border-zinc-700"
            >
                Password
            </h2>
            <div class="px-5 py-6">
                <div class="mb-5 flex items-center justify-between">
                    <div>
                        <p class="text-zinc-500 dark:text-zinc-400">Password</p>
                        <p
                            class="text-zinc-800 dark:text-zinc-200 blur-sm hover:blur-none transition-all"
                        >
                            {{ key }}
                        </p>
                    </div>
                    <button
                        class="text-blue-600 dark:text-blue-500 hover:underline cursor-pointer text-sm"
                    >
                        Change password
                    </button>
                </div>
                <p class="text-zinc-500 dark:text-zinc-400 text-sm">
                    <b>Note:</b> The password remains accessible in the current
                    session to function as a master encryption key for stored
                    user data.
                </p>
                <br />
                <p class="text-zinc-500 dark:text-zinc-400 text-sm">
                    Because the database stores passwords as bcrypt hashes, they
                    cannot be reversed to derive the original key. Consequently,
                    the plaintext password provided during authentication is
                    temporarily cached in a server-side session to encrypt and
                    decrypt your stored keys on demand.
                </p>
            </div>
        </div>
        <div
            class="w-full h-auto border border-zinc-200 dark:border-zinc-700 bg-white dark:bg-zinc-800 rounded-2xl"
        >
            <div
                class="flex items-center justify-between p-5 border-b border-zinc-200 dark:border-zinc-700"
            >
                <h2
                    class="text-lg text-zinc-800 dark:text-zinc-200 font-semibold"
                >
                    Delete account
                </h2>
                <button
                    class="text-red-600 dark:text-red-500 cursor-pointer hover:underline text-sm"
                >
                    Delete account
                </button>
            </div>
            <div class="px-5 py-6">
                <p class="text-zinc-500 dark:text-zinc-400">
                    If you delete your account, all keys and passwords you
                    stored will be deleted. Please proceed with caution.
                </p>
            </div>
        </div>
    </section>
</section>
{% endblock %}

<!-- Script -->
{% block script %} {% endblock %}
