{% extends 'base.html' %}

<!-- Title -->
{% block title %}Password Manager{% endblock %}

<!-- Section -->
{% block section %}
<section class="flex">
    <!-- Sidebar -->
    {% include 'sidebar.html' %}

    <!-- Content -->
    <section class="w-full h-auto flex flex-col gap-5 relative">
        <div
            class="w-full h-auto border border-zinc-200 dark:border-zinc-700 bg-white dark:bg-zinc-800 rounded-2xl"
        >
            <div
                class="flex items-center justify-between p-5 border-b border-zinc-200 dark:border-zinc-700"
            >
                <h2
                    class="text-lg text-zinc-800 dark:text-zinc-200 font-semibold"
                >
                    Password Manager
                </h2>
                <button
                    class="text-blue-600 dark:text-blue-500 cursor-pointer hover:underline text-sm"
                    onclick="newPasswordModal.toggle()"
                >
                    Add password
                </button>
            </div>
            <div class="px-5 py-6 flex flex-col gap-5" id="password_list">
                <!-- Skeleton loading -->
                {% for i in range(10) %}
                <div class="flex items-center justify-between">
                    <div class="flex items-center gap-2.5">
                        <div
                            class="w-10 h-10 flex items-center justify-center bg-zinc-200 dark:bg-zinc-700 rounded-full animate-pulse"
                        ></div>
                        <div class="flex flex-col gap-2">
                            <div
                                class="bg-zinc-200 dark:bg-zinc-700 w-20 h-3 animate-pulse"
                            ></div>
                            <div
                                class="bg-zinc-200 dark:bg-zinc-700 w-52 h-3 animate-pulse"
                            ></div>
                        </div>
                    </div>
                    <div
                        class="bg-zinc-200 dark:bg-zinc-700 w-14 h-3 animate-pulse"
                    ></div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
</section>
{% endblock %}

<!-- Modal -->
{% block modals %}
<!-- Modal for create new password -->
<div
    id="create-new-modal"
    tabindex="-1"
    aria-hidden="true"
    class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full backdrop-blur-sm"
>
    <div class="relative p-4 w-full max-w-md max-h-full">
        <!-- Modal content -->
        <div
            class="relative bg-white rounded-lg shadow-sm dark:bg-zinc-800 border-zinc-200 dark:border-zinc-700"
        >
            <!-- Modal header -->
            <div
                class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-zinc-700 border-zinc-200"
            >
                <h3 class="text-lg font-semibold text-zinc-900 dark:text-white">
                    Create New Password
                </h3>
                <button
                    type="button"
                    class="cursor-pointer text-zinc-400 bg-transparent hover:bg-zinc-200 hover:text-zinc-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-zinc-700 dark:hover:text-white"
                    onclick="newPasswordModal.toggle()"
                >
                    <svg
                        class="w-3 h-3"
                        aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 14 14"
                    >
                        <path
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
                        />
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <form
                class="p-4 md:p-5"
                id="new_password_form"
                name="new_password_form"
            >
                <div class="grid gap-4 mb-4 grid-cols-2">
                    <div class="col-span-2">
                        <label
                            for="new_service_name"
                            class="block mb-2 text-sm font-medium text-zinc-900 dark:text-white"
                            >Service name</label
                        >
                        <input
                            type="text"
                            name="new_service_name"
                            id="new_service_name"
                            class="bg-zinc-50 border border-zinc-300 text-zinc-900 text-sm rounded-lg block w-full p-2.5 dark:bg-zinc-900 dark:border-zinc-700 dark:placeholder-zinc-400 dark:text-white"
                            placeholder="Ex. Genshin account, HSR Account"
                            required
                        />
                    </div>
                    <div class="col-span-2 sm:col-span-1">
                        <label
                            for="new_username"
                            class="block mb-2 text-sm font-medium text-zinc-900 dark:text-white"
                            >Username Account</label
                        >
                        <input
                            type="text"
                            name="new_username"
                            id="new_username"
                            class="bg-zinc-50 border border-zinc-300 text-zinc-900 text-sm rounded-lg block w-full p-2.5 dark:bg-zinc-900 dark:border-zinc-700 dark:placeholder-zinc-400 dark:text-white"
                            placeholder=""
                            required
                        />
                    </div>
                    <div class="col-span-2 sm:col-span-1">
                        <label
                            for="new_password"
                            class="block mb-2 text-sm font-medium text-zinc-900 dark:text-white"
                            >Password</label
                        >
                        <div class="relative">
                            <input
                                type="password"
                                name="new_password"
                                id="new_password"
                                class="bg-zinc-50 border border-zinc-300 text-zinc-900 text-sm rounded-lg block w-full p-2.5 dark:bg-zinc-900 dark:border-zinc-700 dark:placeholder-zinc-400 dark:text-white"
                                placeholder=""
                                required
                            />
                            <span
                                onclick="showPassword(this, 'new_password')"
                                class="material-symbols-rounded absolute top-1/2 right-2.5 -translate-y-1/2 bg-zinc-50 dark:bg-zinc-900 text-zinc-900 dark:text-white cursor-pointer"
                            >
                                visibility
                            </span>
                        </div>
                    </div>
                    <div class="col-span-2">
                        <label
                            for="new_selected_key"
                            class="block mb-2 text-sm font-medium text-zinc-900 dark:text-white"
                            >Key to encrypt</label
                        >
                        <select
                            id="new_selected_key"
                            name="new_selected_key"
                            class="bg-zinc-50 border border-zinc-300 text-zinc-900 text-sm rounded-lg block w-full p-2.5 dark:bg-zinc-900 dark:border-zinc-700 dark:placeholder-zinc-400 dark:text-white"
                        >
                            <option selected>Select key</option>
                            {% for key in user_keys %}
                            <option value="{{ key['key_id'] }}">
                                {{ key['key_name'] }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <button
                    type="submit"
                    class="cursor-pointer text-white inline-flex items-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                >
                    <svg
                        class="me-1 -ms-1 w-5 h-5"
                        fill="currentColor"
                        viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            fill-rule="evenodd"
                            d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z"
                            clip-rule="evenodd"
                        ></path>
                    </svg>
                    Create
                </button>
            </form>
        </div>
    </div>
</div>

<!-- Modal for edit existing password -->
<div
    id="edit-modal"
    tabindex="-1"
    aria-hidden="true"
    class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full backdrop-blur-sm"
>
    <div class="relative p-4 w-full max-w-md max-h-full">
        <!-- Modal content -->
        <div
            class="relative bg-white rounded-lg shadow-sm dark:bg-zinc-800 border-zinc-200 dark:border-zinc-700"
        >
            <!-- Modal header -->
            <div
                class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-zinc-700 border-zinc-200"
            >
                <h3 class="text-lg font-semibold text-zinc-900 dark:text-white">
                    Edit Password
                </h3>
                <button
                    type="button"
                    class="cursor-pointer text-zinc-400 bg-transparent hover:bg-zinc-200 hover:text-zinc-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-zinc-700 dark:hover:text-white"
                    onclick="editPasswordModal.toggle()"
                >
                    <svg
                        class="w-3 h-3"
                        aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 14 14"
                    >
                        <path
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
                        />
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <form
                class="p-4 md:p-5"
                id="edit_password_form"
                name="edit_password_form"
            >
                <div class="grid gap-4 mb-4 grid-cols-2">
                    <div class="col-span-2">
                        <label
                            for="edit_service_name"
                            class="block mb-2 text-sm font-medium text-zinc-900 dark:text-white"
                            >Service name</label
                        >
                        <input
                            type="text"
                            name="edit_service_name"
                            id="edit_service_name"
                            class="bg-zinc-50 border border-zinc-300 text-zinc-900 text-sm rounded-lg block w-full p-2.5 dark:bg-zinc-900 dark:border-zinc-700 dark:placeholder-zinc-400 dark:text-white"
                            placeholder="Ex. Genshin account, HSR Account"
                            required
                        />
                    </div>
                    <div class="col-span-2 sm:col-span-1">
                        <label
                            for="edit_username"
                            class="block mb-2 text-sm font-medium text-zinc-900 dark:text-white"
                            >Username Account</label
                        >
                        <div class="relative">
                            <input
                                type="text"
                                name="edit_username"
                                id="edit_username"
                                class="bg-zinc-50 border border-zinc-300 text-zinc-900 text-sm rounded-lg block w-full p-2.5 dark:bg-zinc-900 dark:border-zinc-700 dark:placeholder-zinc-400 dark:text-white"
                                placeholder=""
                                required
                            />
                            <span
                                title="copy username"
                                onclick="copyText('edit_username')"
                                class="material-symbols-rounded absolute top-1/2 right-2.5 -translate-y-1/2 bg-zinc-50 dark:bg-zinc-900 text-zinc-900 dark:text-white cursor-pointer"
                            >
                                content_copy
                            </span>
                        </div>
                    </div>
                    <div class="col-span-2 sm:col-span-1">
                        <label
                            for="edit_password"
                            class="block mb-2 text-sm font-medium text-zinc-900 dark:text-white"
                            >Password</label
                        >
                        <div class="relative">
                            <input
                                type="password"
                                name="edit_password"
                                id="edit_password"
                                class="bg-zinc-50 border border-zinc-300 text-zinc-900 text-sm rounded-lg block w-full p-2.5 dark:bg-zinc-900 dark:border-zinc-700 dark:placeholder-zinc-400 dark:text-white"
                                placeholder=""
                                required
                            />
                            <span
                                title="copy password"
                                onclick="copyText('edit_password')"
                                class="material-symbols-rounded absolute top-1/2 right-2.5 -translate-y-1/2 bg-zinc-50 dark:bg-zinc-900 text-zinc-900 dark:text-white cursor-pointer"
                            >
                                content_copy
                            </span>
                        </div>
                    </div>
                    <div class="flex items-center">
                        <input
                            id="show_password"
                            type="checkbox"
                            value=""
                            onchange="
                                showPasswordCheckBox(this, ['edit_password'])
                            "
                            class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded-sm focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600"
                        />
                        <label
                            for="show_password"
                            class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300"
                            >Show password</label
                        >
                    </div>
                    <div class="col-span-2">
                        <label
                            for="edit_selected_key"
                            class="block mb-2 text-sm font-medium text-zinc-900 dark:text-white"
                            >Key to encrypt</label
                        >
                        <select
                            id="edit_selected_key"
                            name="edit_selected_key"
                            class="bg-zinc-50 border border-zinc-300 text-zinc-900 text-sm rounded-lg block w-full p-2.5 dark:bg-zinc-900 dark:border-zinc-700 dark:placeholder-zinc-400 dark:text-white"
                        >
                            <option selected>Select key</option>
                            {% for key in user_keys %}
                            <option value="{{ key['key_id'] }}">
                                {{ key['key_name'] }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <button
                    type="submit"
                    class="cursor-pointer text-white inline-flex items-center bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                >
                    <span class="material-symbols-rounded mr-2.5"> save </span>
                    Save
                </button>
            </form>
        </div>
    </div>
</div>

<!-- Popup alert -->
<div
    id="popup-confirm-delete"
    tabindex="-1"
    class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full backdrop-blur-sm"
>
    <div class="relative p-4 w-full max-w-md max-h-full">
        <div class="relative bg-white rounded-lg shadow-sm dark:bg-zinc-800">
            <button
                type="button"
                onclick="confirmDeletePopup.toggle()"
                class="cursor-pointer absolute top-3 end-2.5 text-zinc-400 bg-transparent hover:bg-zinc-200 hover:text-zinc-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-zinc-700 dark:hover:text-white"
            >
                <svg
                    class="w-3 h-3"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 14 14"
                >
                    <path
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
                    />
                </svg>
                <span class="sr-only">Close modal</span>
            </button>
            <div class="p-4 md:p-5 text-center">
                <svg
                    class="mx-auto mb-4 text-zinc-400 w-12 h-12 dark:text-zinc-200"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 20 20"
                >
                    <path
                        stroke="currentColor"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"
                    />
                </svg>
                <h3
                    id="popup_text"
                    class="mb-5 text-lg font-normal text-zinc-500 dark:text-zinc-400"
                >
                    Are you sure you want to delete?
                </h3>
                <button
                    type="button"
                    id="popup_confirm"
                    class="cursor-pointer text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center"
                >
                    Yes, I'm sure
                </button>
                <button
                    type="button"
                    onclick="confirmDeletePopup.toggle()"
                    class="cursor-pointer py-2.5 px-5 ms-3 text-sm font-medium text-zinc-900 focus:outline-none bg-white rounded-lg border border-zinc-200 hover:bg-zinc-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-zinc-100 dark:focus:ring-zinc-700 dark:bg-zinc-900 dark:text-zinc-400 dark:border-zinc-600 dark:hover:text-white dark:hover:bg-zinc-700"
                >
                    No, cancel
                </button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

<!-- Script -->
{% block script %}
<script>
    // Password modal
    const newPasswordForm = document.getElementById("new_password_form");
    const editPasswordForm = document.getElementById("edit_password_form");

    // Delete popup
    const popupConfirmDelete = document.getElementById("popup-confirm-delete");
    const popupText = document.getElementById("popup_text");
    const confirmDeleteBtn = document.getElementById("popup_confirm");

    const pwList = document.getElementById("password_list");

    // API
    const userPasswordsAPI = "/api/user/passwords";
    const createNewPasswordApi = "/api/user/create/password";

    // Init modal
    const newPasswordModal = new Modal(
        document.getElementById("create-new-modal"),
        {
            backdrop: "dynamic",
            closable: true,
        },
    );

    const editPasswordModal = new Modal(document.getElementById("edit-modal"), {
        backdrop: "dynamic",
        closable: true,
    });

    const confirmDeletePopup = new Modal(popupConfirmDelete, {
        backdrop: "dynamic",
        closable: true,
    });

    // Create new password
    async function createNewPassword(theForm) {
        try {
            let formData = new FormData(theForm);
            formData = Object.fromEntries(formData.entries());

            // Send request
            const result = await sendRequest(
                createNewPasswordApi,
                formData,
                "POST",
            );

            // Reinit passwords
            loadPasswords();

            showToast(result.message);
            newPasswordModal.toggle();
        } catch (error) {
            showToast(error);
            console.error(error);
        }
    }

    newPasswordForm.addEventListener("submit", (event) => {
        event.preventDefault();
        createNewPassword(newPasswordForm);
    });

    // Edit existing password
    async function editExistingPassword(uri) {
        try {
            // Send request
            const result = await sendRequest(uri, {}, "GET");
            const data = result.data;

            // Set the form values
            editPasswordForm.edit_service_name.value = data.service_name;
            editPasswordForm.edit_username.value = data.username_account;
            editPasswordForm.edit_password.value = data.decrypted_password;
            editPasswordForm.edit_selected_key.value = data.key_id;

            // Show the modal
            editPasswordModal.toggle();
        } catch (error) {
            showToast(error);
            console.error(error);
        }
    }

    editPasswordForm.addEventListener("submit", (event) => {
        event.preventDefault();

        alert("This feature is not yet available.");
    });

    // Remove existing password
    function removeExistingPassword(apiURI, serviceName) {
        popupText.textContent = `Are you sure you want to delete "${serviceName}"?`;

        confirmDeleteBtn.setAttribute(
            "onclick",
            `confirmRemovePassword("${apiURI}")`,
        );

        confirmDeletePopup.toggle();
    }

    async function confirmRemovePassword(apiURI) {
        try {
            // Send request
            const result = await sendRequest(apiURI, {}, "DELETE");

            // Reinit passwords
            loadPasswords();

            showToast(result.message);
            confirmDeletePopup.toggle();
        } catch (error) {
            showToast(error);
            console.error(error);
        }
    }

    // Load password
    async function loadPasswords() {
        try {
            const result = await sendRequest(userPasswordsAPI, {}, "GET");
            const passwords = result.data;

            if (passwords.length !== 0) {
                pwElm = "";
                // Show the keys
                passwords.forEach((pw) => {
                    pwElm += `
                        <div class="flex items-center justify-between">
                            <div class="flex items-center gap-2.5">
                                <div
                                    class="w-10 h-10 flex items-center justify-center bg-zinc-900 dark:bg-white rounded-full"
                                >
                                    <span
                                        class="material-symbols-rounded text-white dark:text-zinc-900 material-icon-fill"
                                    >
                                        lock
                                    </span>
                                </div>
                                <div>
                                    <p class="text-zinc-800 dark:text-zinc-200 font-bold">
                                        ${pw.service_name}
                                    </p>
                                    <p class="text-zinc-500 dark:text-zinc-400 text-sm">
                                        ${pw.key_name}
                                    </p>
                                </div>
                            </div>
                            <div class="flex items-center justify-center gap-2.5">
                                <button type="button" onclick="editExistingPassword('/api/user/password/${pw.password_id}')"
                                    class="text-blue-600 dark:text-blue-500 hover:underline cursor-pointer text-sm"
                                >
                                    Open
                                </button>
                                <button type="button" onclick="removeExistingPassword('/api/user/password/${pw.password_id}/delete', '${pw.service_name}')"
                                    class="text-red-600 dark:text-red-500 hover:underline cursor-pointer text-sm"
                                >
                                    Delete
                                </button>
                            </div>
                        </div>
                    `;
                });

                pwList.innerHTML = pwElm;
            } else {
                pwList.innerHTML = `
                    <blockquote
                        class="text-xl italic font-semibold text-zinc-900 dark:text-white"
                    >
                        <svg
                            class="w-8 h-8 text-zinc-400 dark:text-zinc-600 mb-4"
                            aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg"
                            fill="currentColor"
                            viewBox="0 0 18 14"
                        >
                            <path
                                d="M6 0H2a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h4v1a3 3 0 0 1-3 3H2a1 1 0 0 0 0 2h1a5.006 5.006 0 0 0 5-5V2a2 2 0 0 0-2-2Zm10 0h-4a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h4v1a3 3 0 0 1-3 3h-1a1 1 0 0 0 0 2h1a5.006 5.006 0 0 0 5-5V2a2 2 0 0 0-2-2Z"
                            />
                        </svg>
                        <p>
                            "The vault is empty. No passwords have been recorded
                            yet. You should create a new one to keep your
                            information safe... Preparation is key to any mission."
                        </p>
                    </blockquote>
                `;
            }
        } catch (error) {
            showToast(error);
            console.error(error);
        }
    }

    loadPasswords();
</script>
{% endblock %}
