{% macro sidebar_item(label, icon, url, current, target) %}
<a
    href="{{ url }}"
    class="sidebar-menu shrink-0 group{% if current == target %} active bg-md-on-primary md:bg-transparent {% else %} {% endif %} relative flex md:flex-col items-center gap-2.5 md:gap-1 w-full md:w-20 min-h-15 mb-2.5 md:mb-3.5 px-5 md:px-0 overflow-hidden rounded-full md:rounded-none"
>
    <md-icon
        class="md:group-hover:bg-md-outline-variant text-md-on-surface! group-[.active]:text-md-secondary! group-[.active]:bg-md-on-primary md:w-14 md:h-8 md:rounded-full"
    >
        {{ icon }}
    </md-icon>
    <span
        class="md-typescale-label-medium text-md-on-surface group-[.active]:text-md-secondary block text-center group-[.active]:font-bold!"
    >
        {{ label }}
    </span>

    <!-- Ripple effect -->
    <md-ripple class="md:hidden"></md-ripple>
</a>
{% endmacro %}
