<div
    class="w-full h-18 shrink-0 bg-md-background md:bg-md-surface-container flex items-center justify-between z-50 sticky top-0"
>
    <!-- Icon and lable -->
    <div class="flex items-center justify-start">
        <!-- Logo and menu icon -->
        <div class="hidden w-24 md:flex items-center justify-center">
            <md-icon-button
                class="cursor-pointer hidden md:flex"
                id="menu-btn"
                title="Menu"
            >
                <md-icon>menu</md-icon>
            </md-icon-button>
        </div>

        <!-- Label -->
        <div class="flex items-center gap-1.5 ml-5 md:ml-0">
            <div
                class="w-10 h-10 flex items-center justify-center rounded-xl hidden"
            >
                <svg
                    class="text-md-on-secondary-container"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 100 100"
                >
                    {% include 'components/logo.html' %}
                </svg>
            </div>
            <span class="sunako-appbar-title text-md-on-surface block">
                Sunako
            </span>
        </div>
    </div>

    <!-- User profile -->
    <div class="relative flex items-center justify-center mr-5 gap-2.5">
        <md-icon-button onclick="openKeyModal()" title="Encryption key">
            <md-icon>key_vertical</md-icon>
        </md-icon-button>
        {% if 'username' in session %}
        <div
            class="cursor-pointer w-12 h-12 p-1"
            title="Account information"
            id="user-profile"
        >
            <div
                class="w-full h-full rounded-full bg-md-primary flex items-center justify-center"
            >
                <span class="text-md-on-primary text-lg font-semibold">
                    {{ name[0] }}
                </span>
            </div>
        </div>

        <!-- Profile menu -->
        <md-menu id="profile-menu" anchor="user-profile">
            <md-menu-item onclick="movePage('/pages/account_manager')">
                <div slot="headline">Account</div>
            </md-menu-item>
            <md-menu-item onclick="logout()">
                <div slot="headline">Logout</div>
            </md-menu-item>
        </md-menu>
        {% else %}
        <a href="/pages/login">
            <md-filled-button>Login</md-filled-button>
        </a>
        {% endif %}
    </div>

    <!-- For multi-select option -->
    <div
        class="absolute top-0 left-0 w-full h-full bg-md-surface-container flex hidden items-center justify-between px-2.5 md:px-0"
        id="selection-appbar"
    >
        <!-- Icon and lable -->
        <div class="flex items-center justify-start">
            <div
                class="md:w-24 mr-2.5 md:mr-0 flex items-center justify-center"
            >
                <md-icon-button
                    class="cursor-pointer flex"
                    onclick="deselectAll()"
                    title="Cancel selection"
                >
                    <md-icon>close</md-icon>
                </md-icon-button>
            </div>

            <!-- The lable -->
            <span class="md-typescale-title-medium text-md-on-surface-variant">
                <span id="select-count">0</span> selected
            </span>
        </div>

        <!-- Multi-select menu -->
        <div class="relative flex items-center justify-center md:mr-5 gap-2.5">
            <div class="hidden md:block">
                <md-icon-button
                    title="Select all"
                    onclick="selectAllFiltered()"
                    id="select-all-btn"
                >
                    <md-icon>select_all</md-icon>
                </md-icon-button>

                {% if active_page == 'password_manager' %}
                <md-icon-button
                    title="Share"
                    id="share-icon-btn"
                    onclick="openShareDialog()"
                >
                    <md-icon>share</md-icon>
                </md-icon-button>

                <md-icon-button title="Export" onclick="openExportMenu()">
                    <md-icon>upload</md-icon>
                </md-icon-button>
                {% endif %}
                <!--  -->
                {% if not active_page == 'shared_passwords' %}
                <md-icon-button title="Delete" onclick="deleteSelected()">
                    <md-icon>delete</md-icon>
                </md-icon-button>
                {% endif %}
                <!--  -->
                {% if active_page == 'shared_passwords' %}
                <md-icon-button title="Save" onclick="saveSelected()">
                    <md-icon>save</md-icon>
                </md-icon-button>
                {% endif %}
            </div>

            <div class="md:hidden relative">
                <md-icon-button id="more-select-opt">
                    <md-icon>more_vert</md-icon>
                </md-icon-button>

                <!-- multi-select more option -->
                <md-menu
                    id="more-select-menu"
                    anchor="more-select-opt"
                    style="--md-menu-container-min-width: 240px !important"
                >
                    <md-menu-item
                        onclick="selectAllFiltered()"
                        id="select-all-menu"
                    >
                        Select all
                    </md-menu-item>

                    {% if active_page == 'password_manager' %}
                    <md-menu-item
                        id="share-menu-item"
                        onclick="openShareDialog()"
                    >
                        Share
                    </md-menu-item>

                    <md-menu-item onclick="openExportMenu()">
                        Export
                    </md-menu-item>
                    {% endif %}
                    <!--  -->
                    {% if not active_page == 'shared_passwords' %}
                    <md-menu-item onclick="deleteSelected()">
                        Delete
                    </md-menu-item>
                    {% endif %}
                    <!--  -->
                    {% if active_page == 'shared_passwords' %}
                    <md-menu-item onclick="saveSelected()">
                        Save all
                    </md-menu-item>
                    {% endif %}
                </md-menu>
            </div>
        </div>
    </div>
</div>
