<g
    fill="currentColor"
    stroke="currentColor"
    stroke-linecap="round"
    stroke-linejoin="round"
>
    <!-- Inner Ring -->
    <circle cx="50" cy="50" r="16" fill="none" stroke-width="5" />

    <!-- Outer Ring -->
    <circle cx="50" cy="50" r="33" fill="none" stroke-width="5" />

    <!-- Top Tick -->
    <path d="M 46.5,8 L 53.5,8 L 54.5,25 L 45.5,25 Z" stroke-width="1" />

    <!-- Bottom Tick -->
    <path d="M 46.5,92 L 53.5,92 L 54.5,75 L 45.5,75 Z" stroke-width="1" />

    <!-- Left Tick -->
    <path d="M 8,46.5 L 8,53.5 L 25,54.5 L 25,45.5 Z" stroke-width="1" />

    <!-- Right Tick -->
    <path d="M 92,46.5 L 92,53.5 L 75,54.5 L 75,45.5 Z" stroke-width="1" />
</g>
