{% from "components/macros/bar_menu.html" import bar_items %}
<div
    class="w-full fixed bottom-0 md:hidden bg-md-surface-container py-1.5 flex justify-around z-20 shrink-0"
>
    <!-- Dashboard -->
    {{ bar_items('Dashboard', 'dashboard', url_for('pages.dashboard'),
    active_page, 'dashboard') }}

    <!-- For logged-in only user -->
    {% if 'username' in session %}

    <!-- Key Manager -->
    {{ bar_items('Keys', 'key', url_for('pages.key_manager'), active_page,
    'key_manager') }}

    <!-- Password Manager -->
    {{ bar_items('Passwords', 'password', url_for('pages.password_manager'),
    active_page, 'password_manager') }}

    <!-- End if -->
    {% endif %}

    <!-- Tools -->
    {{ bar_items('Tools', 'handyman', url_for('pages.encryption_tools'),
    active_page, 'tools') }}

    <!-- Account manager -->
    {{ bar_items('Account', 'account_circle', url_for('pages.account_manager'),
    active_page, 'account_manager') }}
</div>
