{% from "components/macros/rail_menu.html" import rail_items %}
<nav
    class="bg-md-surface-container hidden md:flex flex-col w-full overflow-y-auto! z-20 p-2"
    id="navrail"
>
    <!-- FAB -->
    {% if active_page == 'key_manager' %}
    <md-fab
        variant="primary"
        aria-label="Add"
        class="mx-3 mb-6 shrink-0 w-fit"
        onclick="openNewKeyModal()"
        title="Add key"
    >
        <md-icon slot="icon">add</md-icon>
    </md-fab>
    {% elif active_page == 'password_manager' %}
    <md-fab
        variant="primary"
        aria-label="Add"
        class="mx-3 mb-6 shrink-0 w-fit"
        onclick="openNewAccountModal()"
        title="Add password"
    >
        <md-icon slot="icon">add</md-icon>
    </md-fab>
    {% endif %}

    <!-- Dashboard -->
    {{ rail_items('Dashboard', 'dashboard', url_for('pages.dashboard'),
    active_page, 'dashboard') }}

    <!-- Account manager -->
    {{ rail_items('Account', 'account_circle', url_for('pages.account_manager'),
    active_page, 'account_manager') }}

    <!-- For logged-in only user -->
    {% if 'username' in session %}

    <!-- Key Manager -->
    {{ rail_items('Keys', 'key', url_for('pages.key_manager'), active_page,
    'key_manager') }}

    <!-- Password Manager -->
    {{ rail_items('Passwords', 'password', url_for('pages.password_manager'),
    active_page, 'password_manager') }}

    <!-- End if -->
    {% endif %}

    <!-- Tools -->
    {{ rail_items('Tools', 'handyman', url_for('pages.encryption_tools'),
    active_page, 'tools') }}
</nav>
