{% from "components/_macros.html" import sidebar_item %}
<nav
    class="bg-md-surface-container py-5 px-2.5 md:px-0 flex flex-col items-center absolute w-3/4 h-[calc(100vh-72px)] left-0 md:static md:w-22 rounded-r-4xl md:rounded-none -translate-x-full md:translate-x-0! transition-transform ease-in-out overflow-y-auto z-20"
    id="sidebar"
>
    <!-- Dashboard -->
    {{ sidebar_item('Dashboard', 'dashboard', url_for('pages.dashboard'),
    active_page, 'dashboard') }}

    <md-divider class="mb-2.5 md:hidden"></md-divider>

    <!-- For logged-in only user -->
    {% if 'username' in session %}
    <!-- Account manager -->
    {{ sidebar_item('Account Manager', 'account_circle',
    url_for('pages.account_manager'), active_page, 'account_manager') }}

    <!-- Key Manager -->
    {{ sidebar_item('Key Manager', 'key', url_for('pages.key_manager'),
    active_page, 'key_manager') }}

    <!-- Password Manager -->
    {{ sidebar_item('Password Manager', 'password',
    url_for('pages.password_manager'), active_page, 'password_manager') }}
    <md-divider class="mb-2.5 md:hidden"></md-divider>
    <!-- End if -->
    {% endif %}

    <!-- Password Generator -->
    {{ sidebar_item('Password Generator', 'password_2',
    url_for('pages.password_generator'), active_page, 'password_generator') }}

    <md-divider class="mb-2.5 md:hidden"></md-divider>

    <!-- Text Encryptor -->
    {{ sidebar_item('Text Encryptor', 'lock', url_for('pages.text_encryptor'),
    active_page, 'text_encryptor') }}

    <!-- Text Decryptor -->
    {{ sidebar_item('Text Decryptor', 'lock_open_right',
    url_for('pages.text_decryptor'), active_page, 'text_decryptor') }}
</nav>
