<div
    id="snackbar"
    class="fixed bottom-22 md:bottom-5 left-1/2 -translate-x-1/2 sm:translate-x-0 translate-y-5 opacity-0 sm:left-7 flex hidden items-center justify-between w-[90%] max-w-sm h-auto min-h-12 pl-4 pr-2 rounded shadow-sm bg-md-inverse-surface z-100 transition ease-initial duration-300"
    role="alert"
>
    <span
        class="text-sm font-normal text-md-inverse-on-surface"
        id="snackbar-supporting-text"
    >
        Set yourself free.
    </span>
    <md-text-button id="snackbar-action" class="hidden">Sample</md-text-button>
</div>
